{% load static %}
{% extends 'base.html' %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cucumber Sports</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'events/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
</head>

<body>
    {% block content %}


    <div class="container pl-lg-5 pl-md-5 pl-sm-0 pr-lg-5 pr-md-5 pr-sm-0 p-4">
        {% for event in upcoming_events %}
        <div class="mb-0 mt-5 p-3 row"
            style="background-color: rgb(252, 173, 15); border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <div class="col-8">
                <div class="row">
                    <h1 style="font-family: arial;" class="pt-2 text-white"><i><b>{{ event.name }}</b></i></h1>
                </div>
                <div class="row">
                    <div class="mb-1 mr-3">
                        <ul class="list-group text-center" style="font-size: 1 rem;">
                            <li class="font-weight-bold list-group-item list-group-item-secondary p-1 text-primary">
                                {{ event.when | date:'M j'}}</li>
                            <li class="bg-primary list-group-item p-1 text-white">{{ event.when | date:'D'}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-group ml-n3">
                            <h4>@ Rocky Hill High School</h4>
                            <h5>Status: <i>Active</i></h5>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <span class="badge badge-success mt-3 p-2"
                        style="font-weight: 400; font-size: 18px; border-radius: 10px;">minimum $5 buy-in</span>
                </div>
            </div>
            <img src="{% static 'events/assets/img/track_logo.png' %}" class="col-4 h-100 img-fluid">
        </div>
        <div class="font-weight-bold justify-content-center mt-0 p-2 row text-white"
            style="background-color: #fd850a; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; cursor: pointer;">
            MORE</div>
        {% endfor %}
    </div>

    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'events/js/jquery.min.js' %}"></script>
    <script src="{% static 'events/js/popper.js' %}"></script>
    <script src="{% static 'events/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'events/pgia/lib/pgia.js' %}"></script>
</body>

</html>