{% extends "base.html" %}

{% block title %}
Login - {{ block.super }}
{% endblock %}

{% block content %}

<section>
    <div class="container">
        <h2 class="border-bottom pb-3 mb-4">Login</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <label for="username">Username: </label>
                <input style="margin-left: 6px;" name="username" id="username" type="text">
                <br><br>
                <label for="password">Password: </label>
                <input style="margin-left: 10px;" name="password" id="password" type="password">
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            </fieldset>
            <br>
            {% if error_messages %}
                {% for message in error_messages %}
                    <div class="row w-100 text-danger mb-3 ml-1">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if success_messages %}
                {% for message in success_messages %}
                    <div class="row w-100 text-success mb-3 ml-1">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <button class="btn btn-primary font-weight-thin" type="submit">Login</button>
            </div>
        </form>

        <div class="border-top pt-3">
            Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </div>

    </div>

</section>



{% endblock content %}