<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Cucumber Sports Account Verification</title>
        <!-- Bootstrap core CSS -->
        <!-- Custom styles for this template -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body class="bg-light">
        <header style="transition: all 0.5s; z-index: 997; padding: 20px 0; background: #121d24; padding: 12px 0;">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <a href="https://cucumbersports.com" class="col-5 col-md-1 col-md-2 col-sm-3 logo" style="font-size: 32px; margin: 0; padding: 0; line-height: 1; font-weight: 700; letter-spacing: 2px; color: #fff;"><img src="https://cucumbersports.com/static/assets/img/brand/text-logo-og.png" style=" max-height: 40px;" alt="" class="img-fluid"></a>
            </div>
        </header>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class="container">
            <div class="d-flex justify-content-center mt-3 row">
                <div class="col-10 d-flex flex-column text-center">
                    <h2>Your account registration was successful!</h2>
                    <p>Please verify your email address by visiting the link below</p>
                    <div class="justify-content-center row">
                        <a href="{{ verification_link }}" class="btn btn-primary">Verify email address</a>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>