<div class="col-12 col-md-9 mx-auto row">
    <a href="{% url 'edit-event' event.id %}" class="btn btn-primary col-4"
        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">Edit</a>
    <a href="{% url 'organizer-add-result' event.id %}" class="btn btn-success col-4" style="border-radius: 0;">Add Result</a>
    <a href="{% url 'release-payment' event.id %}" class="btn btn-danger col-4" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Prize
        Pay</a>
</div>