<!--This is each event-->
<div class="card col-12 col-lg-3 col-md-5 col-sm-5 event-cards m-2">
    {% if event.event_picture %}
    <img class="card-img-top"
        src="{{ event.event_picture.url }}"
        alt="Card image cap">
    {% else %}
    <!-- Default image for event -->
        <img class="card-img-top"
            src="https://images.pexels.com/photos/1068989/pexels-photo-1068989.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Card image cap">
    {% endif %}
    <div class="card-img-overlay p-0">
        <div class="align-items-center col-2 d-flex date-badge flex-column p-2 p-lg-2 text-white">
            <div class="row">{{ event.when | date:'M' }}</div>
            <div class="row" style="font-size: 1rem;">{{ event.when | date:'j' }}</div>
            <div class="row">{{ event.when | date:'D'}}</div>
        </div>
    </div>
    <div class="card-body d-flex flex-column">
        <h4 class="card-title">{{ event.name }}</h4>
        <p class="card-text">Status: <i class="{% if event.status == 1 %}text-primary{% else %}text-danger{% endif %}">{{ event.get_status_display }}</i><br>@ {% if event.location_name %}{{ event.location_name }}{% else %}{{ event.address_1 }}{% endif %}</p>
        <div class="d-flex justify-content-around mb-2 row">
            <a class="btn btn-info col-5" href="{% url 'specific-event' event.id %}">Details</a>
            {% if event.status == 1 %}
            <a class="btn btn-dark col-5 text-white" href="{% url 'specific-event' event.id %}#register">Register</a>
            {% elif event.status == -1 %}
            <a class="btn btn-warning text-white col-5" href="{% url 'specific-event-result' event.id %}">Result</a>
            {% endif %}

        </div>
        {% if event.registration_fee != 0.00 %}
        <small>${{ event.registration_fee }} Registration Fee</small>
        {% else %}
        <small>No Registration Fee</small>
        {% endif %}

    </div>
</div>