<section id="money" class="about p-4">
    <div class="container p-3" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 pt-3 pt-lg-0 content">
                <h3>Current Prize</h3>
                <p>Total: ${{ total_prize }}</p>
                <p>Place Stakes:</p>
                <ul>
                    <li>
                        <i class="bx bx-check-double"></i> 1st Place: ${{ first_prize }}
                    </li>
                    <li>
                        <i class="bx bx-check-double"></i> 2nd Place: ${{ second_prize }}
                    </li>
                    <li>
                        <i class="bx bx-check-double"></i> 3rd Place: ${{ third_prize }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>