{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Cucumber Sports</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
        <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container-fluid d-flex align-items-center justify-content-between">

                
                <a href="index.html" class="col-5 col-md-1 col-md-2 col-sm-3 logo"><img src="{% static 'assets/img/brand/logo-text-dark.png' %}" alt="" class="img-fluid"></a>
                <nav class="d-lg-block d-none nav-menu">
                    <ul>
                        <li class="active">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="events.html">Events</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <!-- .nav-menu -->
                <a href="#about" class="get-started-btn scrollto">Get Started</a>
            </div>
        </header>
        <!-- End Header -->
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div data-aos="fade-up" data-aos-delay="150" class="hero-container">
                <div class="row">
                    <div class="mx-auto w-75">
                        <img class="img-fluid" src="{% static 'assets/img/brand/text-logo-white.png' %}" alt="">
                    </div>
                </div>
                <div class="m-2 row">
                    <h5 class="font-italic text-white">Dare to Compete</h5>
                </div>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
        </section>
        <!-- End Hero -->
        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="sport">
                <div class="no-gutters row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static 'assets/img/sports/running.jpg' %}" class="img-fluid w-100">
                        <a href="https://example.com"> <div class="align-items-center card-img-overlay d-flex justify-content-center text-white">
                                <h2 class="choice-text">Run</h2>
                            </div> </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static 'assets/img/sports/tennis.jpg' %}" class="img-fluid w-100">
                        <a href="https://example.com"> <div class="align-items-center card-img-overlay d-flex justify-content-center text-white">
                                <h2 class="choice-text">Tennis</h2>
                            </div> </a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="{% static 'assets/img/sports/golf.jpg' %}" class="img-fluid w-100">
                        <a href="https://example.com"> <div class="align-items-center card-img-overlay d-flex justify-content-center text-white">
                                <h2 class="choice-text">Golf</h2>
                            </div> </a>
                    </div>
                </div>
            </section>
            <section id="about" class="about">
                <div class="container p-3 aos-init aos-animate" data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-6 pt-3 pt-lg-0 content">
                            <h3>What we offer</h3>
                            <p class="font-italic">An opportunity.</p>
                            <p>Millions of people do not get an opportunity to compete and get something out of what they love to do. With Cucumber Sports, we give you a chance to do so. Put your money where your skills are and dare to compete among people you share a passion with to rise to the top</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->
            <!-- ======= About Boxes Section ======= -->
            <!-- End About Boxes Section -->
            <!-- ======= Clients Section ======= -->
            <!-- End Clients Section -->
            <!-- ======= Features Section ======= -->
            <!-- End Features Section -->
            <!-- ======= Services Section ======= -->
            <!-- End Services Section -->
            <!-- ======= Testimonials Section ======= -->
            <!-- End Testimonials Section -->
            <!-- ======= Portfolio Section ======= -->
            <!-- End Portfolio Section -->
            <!-- ======= Team Section ======= -->
            <!-- End Team Section -->
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class=" section-title">
                        <h2>Contact</h2>
                        <p>Contact Us</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-12">
</div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4">
                                        <i class="bx bx-envelope"></i>
                                        <h3>Email Us</h3>
                                        <p>info@cucumbersports.com</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info-box mt-4">
                                        <i class="bx bx-phone-call"></i>
                                        <h3>Call Us</h3>
                                        <p>+1 860 995 9086</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-4 mt-lg-0">
</div>
                    </div>
                </div>
            </section>
            <!-- End Contact Section -->
        </main>
        <!-- End #main -->
        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="footer-info">
                                <img src="{% static 'assets/img/brand/text-logo-og.png' %}" class="w-75">
                                <p><br></p>
                                <p><strong>Phone:</strong> +1 860 995 9086<br> <strong>Email:</strong> info@cucumbersports.com<br></p>
                                <div class="social-links mt-3">
                                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#">Terms of service</a>
                                </li>
                                <li>
                                    <i class="bx bx-chevron-right"></i>
                                    <a href="#">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    &copy; Copyright
                    <strong><span>Cucumber Sports</span></strong>. All Rights Reserved
                </div>
            </div>
        </footer>
        <!-- End Footer -->
        <a href="#" class="back-to-top"><i class='bx bx-up-arrow-alt'></i></a>
        <div id="preloader"></div>
        <!-- Vendor JS Files -->
        <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
        <!-- Template Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>
