{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} Terms of Service
{% endblock %}

{% block content %}

    <section>
        <div class="container">
            <h2>Terms of Service</h2>
            
                <p>All references to Cucumber Sports, Cucumber Sports Inc. CucumberSports and any
                        subsidiary entities belong to, are represented by, and can be interchangeably used by the sole owner,
                        founder and CEO Kinshu Gupta.</p>
                <p>The Cucumber Sports websites, related mobile applications and services (collectively,
                        the &ldquo;Services&rdquo;) are made available to you by Kinshu Gupta, subject to these Terms of Service
                        (the &ldquo;Terms&rdquo;) and in accordance with the Cucumber Sports <a 
                            href="https://cucumbersports.com">Privacy Policy</a>&nbsp;(the &ldquo;Privacy
                        Policy&rdquo;). More information about the Services may be found at <a 
                            href="https://cucumbersports.com">https://cucumbersports.com</a>.</p>
                <p></p>
                <h3>Cancellation</h3>
                <h4>Cancellation of Event Registration</h4>
                <p>If you signed up on Cucumber Sports.com, you may cancel your Event Registration
                        membership by visiting the page of the event you registered for and selecting Cancel Registration or
                        contacting us at info@cucumbersports.com</p>
                <h3>Member Content and Conduct</h3>
                <h4>Content</h4>
                <p>You own the information, data, text, software, sound, photographs, graphics, video,
                        messages, posts, tags, or other materials you make available in connection with the Services
                        (&ldquo;Content&rdquo;), whether publicly posted, privately transmitted, or submitted through a third party
                        API (e.g. a photograph submitted via Instagram).</p>
                <p>You understand that you, and not Cucumber Sports, are entirely responsible for all
                        Content that you upload, post, email, transmit or otherwise make available via the Services. Cucumber Sports
                        does not proactively and routinely screen or monitor the Content posted to the Services by others and, as
                        such, does not guarantee the accuracy, integrity or quality of such Content. Cucumber Sports may, in its
                        sole discretion, screen, monitor, refuse or remove any Content, or remove any Content that violates the
                        Terms or is otherwise objectionable. You understand that by using the Services, you may be exposed to
                        Content that is offensive, indecent or objectionable. Under no circumstances will Cucumber Sports be liable
                        in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any
                        loss or damage of any kind incurred as a result of the use of any Content made available on the Services.
                        You agree to bear all risks associated with the use of any Content available in connection with the
                        Services, including any reliance on the accuracy, completeness, or usefulness of such Content.</p>
                <p>You agree that Cucumber Sports is not responsible for, and does not endorse, Content
                        posted on the Services. If your Content violates these Terms, you may bear legal responsibility for that
                        Content. As between you and Cucumber Sports, any Content will be non-confidential and non-proprietary and we
                        will not be liable for any use or disclosure of Content. You acknowledge and agree that your relationship
                        with Cucumber Sports is not a confidential, fiduciary, or other type of special relationship, and that your
                        decision to submit any Content does not place Cucumber Sports in a position that is any different from the
                        position held by members of the general public, including with regard to your Content. Your Content will not
                        be subject to any obligation of confidence on the part of Cucumber Sports other than as set forth in our
                    <a  href="https://cucumbersports.com">Privacy Policy</a>&nbsp;and your <a  href="https://cucumbersports.com">privacy
                            controls</a>, and Cucumber Sports will not be liable for any use or disclosure
                        of any Content you provide.</p>
                <p>The Services may provide you with the ability to mark certain Content that you submit
                        to the Services as private, public, or available only to select users of the Services. Cucumber Sports will
                        maintain the privacy of such Content in accordance with your elections. However, if you do not elect to mark
                        your Content as private or available for a limited group of members, or later change such designation to
                        allow such Content to be made available to anyone, you are responsible for the public nature of the content.
                        Please review our <a  href="https://cucumbersports.com">Privacy
                            Policy</a>&nbsp;for more information on how to manage your privacy
                        controls.</p>
                <p>You give us permission to use your profile name, profile photo, and information about
                        your activities and actions you have taken, including your use of third party products, services, or
                        devices, in ads, offers and other commercial contexts on the Cucumber Sports service without compensation to
                        you. For example, we may show your Cucumber Sports followers that you use a certain device, product, or
                        service available from a brand that has paid us to display its ads on Cucumber Sports. You may <a  href="https://cucumbersports.com">adjust settings</a>&nbsp;to prevent your profile name and profile photo from appearing in an ad.</p>
                <h4>Conduct</h4>
                <p>We expect you to honor the <a 
                            href="https://cucumbersports.com">Cucumber Sports Community Standards</a>. The
                        Services are for your personal and noncommercial use. You may not modify, copy, distribute, transmit,
                        display, perform, reproduce, publish, license, create derivative works from, transfer or sell for any
                        commercial purposes any portion of the Services, use of the Services or access to Content. You may not use
                        the Services, or assist or encourage any other party, to engage in any of the following Prohibited
                        Activities:</p>
                <ol class="start" start="1">
                    <li>Copying, framing or mirroring any part of the Services;</li>
                    <li>Accessing the Services to monitor its availability, performance or
                            functionality;</li>
                    <li>Permitting any third party to access the Services;</li>
                    <li>Using, copying, modifying, creating a derivative work of, reverse engineering,
                            decompiling or otherwise attempting to extract the source code of the software underlying the Services
                            or any part thereof, unless expressly permitted or required by law, and in any case, without providing
                            prior written notice to Cucumber Sports;</li>
                    <li>Publishing, transmitting, distributing or storing content, material, information
                            or data that: (1) is illegal, obscene, defamatory, threatening, harassing, abusive, or hateful or that
                            advocates violence; (2) is harmful to or interferes with the Services or any third party&rsquo;s
                            networks, equipment, applications, services or websites (e.g., viruses, worms, Trojan horses, etc.); (3)
                            infringes, dilutes, misappropriates or otherwise violates any privacy, intellectual property, publicity
                            or other personal rights including, without limitation, copyrights, patents, trademarks, trade secrets
                            or other proprietary information (including unauthorized use of domain names); or (4) is fraudulent or
                            contains false, deceptive or misleading statements, claims or representations (such as
                            &ldquo;phishing&rdquo;);</li>
                    <li>Attempting to disrupt, degrade, impair or violate the integrity or security of
                            the Services or the computers, services, Accounts or networks of any other party (including, without
                            limitation, &ldquo;hacking,&rdquo; &ldquo;denial of service&rdquo; attacks, etc.), including any
                            activity that typically precedes attempts to breach security such as scanning, probing or other testing
                            or vulnerability assessment activity, or engaging in or permitting any network or hosting activity that
                            results in the blacklisting or other blockage of Cucumber Sports internet protocol space;</li>
                    <li>Avoiding payment of charges or fees payable by you with respect to the
                            Services;</li>
                    <li>Committing any act that may be harmful to minors;</li>
                    <li>Distributing, or disclosing any part of the Services in any medium, including
                            without limitation by any automated or non-automated &ldquo;scraping&rdquo;;</li>
                    <li>Using any automated system, including, without limitation, &ldquo;robots,&rdquo;
                            &ldquo;spiders,&rdquo; &ldquo;offline readers,&rdquo; etc., to access the Services in a manner that
                            sends more request messages to Cucumber Sports than a human can reasonably produce in the same period of
                            time by using a conventional web browser;</li>
                    <li>Taking any action that imposes, or may impose, at our sole discretion, an
                            unreasonable or disproportionately large load on our infrastructure;</li>
                    <li>Collecting or harvesting any information relating to an identified or
                            identifiable individual, including account names and information about users of the Services, from the
                            Services;</li>
                    <li>Using the Services for any inappropriate commercial solicitation
                            purposes;</li>
                    <li>Accessing any content on the Services through any technology or means other than
                            those provided or authorized by the Services;</li>
                    <li>Submitting to the Services or to Cucumber Sports any personally identifiable
                            information, except as necessary for the establishment and operation of your account;</li>
                    <li>Submitting to the Services or to Cucumber Sports any information that may be
                            protected from disclosure by applicable law;</li>
                    <li>Bypassing the measures we may use to prevent or restrict access to the Services,
                            including, without limitation, features that prevent or restrict use or copying of any content or
                            enforce limitations on use of the Services or the content therein;</li>
                    <li>Violating any applicable law, statute, ordinance or regulation, or encouraging
                            any conduct that could constitute a criminal offense or give rise to civil liability;</li>
                    <li>Removing any copyright, trademark or other proprietary rights notices contained
                            in or on the Services; or</li>
                    <li>Executing any form of network monitoring or running a network analyzer or packet
                            sniffer or other technology to intercept, decode, mine or display any packets used to communicate
                            between the Service&rsquo;s servers or any data not intended for you.</li>
                </ol>
                <p>You are granted a limited, non-exclusive right to create a text hyperlink to the
                        Services for non-commercial use only, provided such link does not portray Cucumber Sports or any of its
                        products or services in a false, misleading, derogatory or otherwise defamatory manner, and provided further
                        that the linking site does not contain any pornographic, illegal, offensive, harassing or otherwise
                        objectionable material. You are further granted a right to implement any RSS feeds located on the Services
                        for your personal, non-commercial use, solely as described on the Services. We reserve the right to revoke
                        these licenses generally, or your right to use specific links or RSS feeds, at any time, with or without
                        cause.</p>
                <p>You understand that use of certain features of the Services may require you to
                        purchase third party equipment or materials (e.g., GPS systems). While Cucumber Sports may recommend the
                        equipment or materials of certain third party suppliers, Cucumber Sports shall have no responsibility for
                        your acquisition or use of any third party equipment or materials and does not guarantee that third party
                        equipment or materials will function with the Services or will be error-free.</p>
                <p>You understand that you are responsible for any charges associated with sending
                        communications via your device. You hereby acknowledge that you have the right to communicate with your
                        contacts via the Services.</p>
                <p>You represent and warrant that: (i) you are authorized to create your account,
                        whether individually or on behalf of an organization; (ii) you own the Content posted by you on or through
                        the Services or otherwise have the right to grant the rights and licenses set forth in these Terms; (iii)
                        the posting and use of your Content on or through the Services does not and will not violate, misappropriate
                        or infringe on the rights of any third party, including, without limitation, privacy and data protection
                        rights, publicity rights, copyrights, trademark and/or other intellectual property rights; and (iv) you
                        agree to pay for all royalties, fees, and any other monies owed by reason of Content you post on or through
                        the Services.</p>
                <h3>Interactions with Members</h3>
                <p>The Services function as a venue to connect members in a virtual information place.
                        As a neutral facilitator, Cucumber Sports is not directly involved in the actual interactions between
                        members of the Services. As a result, Cucumber Sports has no control over the truth, accuracy, quality,
                        legality, or safety of postings made by members of the Services. Cucumber Sports shall have no
                        responsibility to confirm the identity of members. Cucumber Sports shall also have no responsibility to
                        confirm or verify the qualifications, background, or abilities of members of the Services. You shall at all
                        time exercise common sense and good judgment when dealing with any member of the Services.</p>
                <h3>Third Parties</h3>
                <p>Third party products and services made available on the Services are made and offered
                        directly by the applicable third party. When you pursue or purchase any such product or service, you
                        acknowledge that you are contracting directly with such third party and not with Cucumber Sports. Your
                        interaction with, or participation in promotions of, third parties found on or through the Services,
                        including payment and delivery of goods or services, and any other terms, are solely between you and such
                        third party. You are not obligated to use or transact business with any third party that appears on the
                        Services. YOU AGREE THAT Cucumber Sports SHALL NOT BE LIABLE FOR ANY LOSS OR DAMAGES OF ANY KIND INCURRED BY
                        YOU AS THE RESULT OF ANY OF YOUR DEALINGS WITH THIRD PARTY SERVICE PROVIDERS OR ADVERTISERS AVAILABLE
                        THROUGH THE SERVICES.</p>
                <p>Cucumber Sports or third parties may provide links to other internet sites or
                        resources through the Services. Cucumber Sports does not endorse and is not responsible or liable for any
                        content, information, advertising, products or other materials on or available from such sites or resources.
                        You acknowledge and agree that Cucumber Sports is not responsible for the availability of such external
                        sites or resources.</p>
                <h3>Electronic Communications</h3>
                <p>The Services may provide you with the ability to send or post messages to forums or
                        chat rooms, speak via internet voice connections or send similar messages and communications to third party
                        service providers, advertisers, your personal contacts, other members and/or Cucumber Sports. You agree to
                        use communication methods available on the Services only to send communications and materials related to the
                        subject matter for which Cucumber Sports provided the communication method, and you further agree that all
                        such communications by you shall be deemed your Content and shall be subject to and governed by the Terms
                        and applicable law (including laws regulating direct marketing communications with which you will need to
                        comply with, as applicable). By using communications methods available on the Services, you agree that (a)
                        all communications methods constitute public, and not private, means of communication between you and the
                        other party or parties, (b) communications sent to or received from third party service providers,
                        advertisers or other third parties are not be endorsed, sponsored or approved by Cucumber Sports (unless
                        expressly stated otherwise by Cucumber Sports) and (c) communications are not routinely pre-reviewed,
                        post-reviewed, screened, archived or otherwise monitored by Cucumber Sports in any manner, though Cucumber
                        Sports reserves the right to do so at any time at its sole discretion. You agree that all notices,
                        disclosures and other communications that we provide to you electronically shall satisfy any legal
                        requirement that such communications be in writing.</p>
                <h3>Proprietary Rights</h3>
                <p>You acknowledge and agree that the Services, any necessary software used in
                        connection with the Services (if any), any aggregated data based on Content on the Services, and any Content
                        available or made available on the Services contain proprietary and confidential information that is
                        protected by applicable intellectual property and other laws. Except as expressly permitted by applicable
                        law or authorized by Cucumber Sports or applicable third party service providers or advertisers, you agree
                        not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Services, the
                        software or Content available on the Services (other than Content that you may submit), in whole or in
                        part.</p>
                <p>Cucumber Sports grants you a personal, revocable, non-transferable, non-sublicensable
                        and non-exclusive right and license to access and use the Services; provided that you do not (and do not
                        allow any third party to) copy, modify, create a derivative work from, reverse engineer, reverse assemble or
                        otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or
                        otherwise transfer any right in the Services, except where permitted by law. You agree not to access the
                        Services by any means other than through the interfaces that are provided by Cucumber Sports.</p>
                <p>The term Cucumber Sports, the Cucumber Sports logo and other Cucumber Sports logos
                        and product and service names are the exclusive trademarks of, and are owned by, Cucumber Sports,
                        Inc./Kinshu Gupta, and you may not use or display such trademarks in any manner without Cucumber
                        Sports&rsquo;s prior written permission. Any third party trademarks or service marks displayed on the
                        Services are the property of their respective owners.</p>
                <p>Cucumber Sports reserves all rights not expressly granted hereunder.</p>
                <h3>Claims of Infringement</h3>
                <p>The Digital Millennium Copyright Act (the &ldquo;DMCA&rdquo;) provides recourse for
                        copyright owners who believe that material appearing on the internet infringes their rights under U.S.
                        copyright law. Cucumber Sports also reviews claims of trademark infringement. If you believe in good faith
                        that materials hosted by Cucumber Sports infringe your copyright or trademark rights, you (or your agent)
                        may send us a notice requesting that the material be removed, or access to it blocked. The notice must
                        include the following information: (a) a physical or electronic signature of a person authorized to act on
                        behalf of the owner of an exclusive right that is allegedly infringed; (b) identification of the copyrighted
                        work or trademark claimed to have been infringed (or, if multiple copyrighted works or trademarks located on
                        the Services are covered by a single notification, a representative list of such works); (c) identification
                        of the material that is claimed to be infringing or the subject of infringing activity, and information
                        reasonably sufficient to allow Cucumber Sports to locate the material on the Services; (d) the name,
                        address, telephone number, and e-mail address (if available) of the complaining party; (e) a statement that
                        the complaining party has a good-faith belief that use of the material in the manner complained of is not
                        authorized by the copyright or trademark owner, its agent, or the law; and (f) a statement that the
                        information in the notification is accurate and, under penalty of perjury, that the complaining party is
                        authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Please be
                        advised that Cucumber Sports will not respond to complaints that do not meet these requirements. If Cucumber
                        Sports determines that the materials alleged to infringe your copyright or trademark rights do not require
                        removal, Cucumber Sports will remove those materials only pursuant to a court order declaring the content or
                        use of the materials unlawful.</p>
                <p>If you believe in good faith that a notice of copyright infringement has been wrongly
                        filed against you, the DMCA permits you to send us a counter-notice. Counter-notices must include the
                        following information: (a) your name, address, and telephone number; (b) the source of the content that was
                        removed; (c) a statement under penalty of perjury that you have a good-faith belief that the content was
                        removed in error; (d) a statement that you consent to the jurisdiction of Federal District Court for the
                        judicial district in which your address is located; or, if your address is outside of the United States, for
                        any judicial district in which Cucumber Sports may be found, and that you will accept service of process
                        from the person who provided the original complaint; and (e) a physical or electronic signature (for
                        example, typing your full name).</p>
                <p>Notices and counter-notices with respect to the Services must meet the then-current
                        statutory requirements imposed by the DMCA (see <a 
                            href="https://cucumbersports.com">https://cucumbersports.com</a>&nbsp;contact us
                        page. We generally respond to support requests within 10-14 days after the request is placed.</p>
            
        </div>

    </section>

{% endblock %}