{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'kin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<body style="background-color: #eeeeee;">
    <div class="container p-4">
        <div class="row d-flex justify-content-between">
            <h4>Events</h4>
            {% if perms.events.add_event %}
                <a href="{% url 'create-event' %}" class="btn btn-secondary"><i class="icofont-plus-square"></i> Create</a>
            {% endif %}
        </div>
        {% comment %}
        <div class="d-flex d-md-flex justify-content-md-center mt-2 row">
            <input type="text" class="border-left-0 border-top-0 col-8 col-md-6 form-control search-box"
                placeholder="Search">
            <div class="col-4 col-md-2 dropdown show">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                    style="border-radius: 0px;">Type&nbsp;</button>
                <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdownMenuButton"
                    style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;"
                    x-placement="bottom-start">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="formCustomCheckbox282">
                        <label class="custom-control-label" for="formCustomCheckbox282">Run</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="formCustomCheckbox308">
                        <label class="custom-control-label" for="formCustomCheckbox308">Tennis</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="formCustomCheckbox302">
                        <label class="custom-control-label" for="formCustomCheckbox302">Golf</label>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-center p-1 w-100 mb-5">
        {% for event in upcoming_events %}
            {% if event.status == 1 %}
                {% include 'events/subtemplates/event_card.html' %}
            {% endif %}
        {% endfor %}
        {% for event in upcoming_events reversed %}
            {% if event.status != 1 %}
                {% include 'events/subtemplates/event_card.html' %}
            {% endif %}
        {% endfor %}
    </div>
</body>
{% endblock %}